body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
}
textarea {
	margin-left: auto;
	margin-right: auto;
	font-family: Helvetica;
	font-size: 150%;
}

ul {
	font-family: Helvetica;
}

li {
	font-family: Helvetica;
}

#flash_success {
	background: green;
	color: white;
	text-align: center;
}

#flash_failure {
	background: red;
	color: white;
	text-align: center;
}

#flash_delete{
	background: yellow;
	color: black;
	text-align: center;
}

.time {
	color: gray;
	font-size: 80%;
}


#container
{
	margin: 0 auto;
	width: 600px;
	background:#fff;
}

#header
{
	background:#ccc;
	padding: 20px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 600px;
	background:#333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#383; }

#content
{
	clear: left;
	padding: 20px;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background:#ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}