#flash_success {
	background: yellow;
	color: black;
}

#flash_failure {
	background: red;
	color: white;
}

#flash_delete{
	background: black;
	color: white;
}

.time {
	color: gray;
	font-size: 80%;
}